.card-title {
  font-size: 1.5em;
  font-weight: 700;
}

.card-text {
  font-size: 1.5em;
}

.card__btn {
  display: block;
  width: 80%;
  padding: 10px;
  font-size: 1.5em;
  font-weight: 700;
  margin-right: auto;
  margin-left: auto;
} 
