.special__div {
  border-radius: 5px;
  border: 2px dashed #ec5e2c;
}

.special__h3 {
  color: #ec5e2c;
  font-size: 1.125em;
  font-weight: 700;
  font-style: italic;
}

.special__span--title {
  font-weight: 700;
}